extends layout

block content
  h1.Underline Add Post
  form.Add__Post(action="/posts/add", method="post")
    input(name="title" type="text" placeholder="Title")
    input(name="author" type="text" placeholder="Author")
    textarea(name="body")
    button(type="submit") Submit