extends layout

block content
  h1.Underline Edit Post
  form.Edit__Post(action=`/posts/edit/${post._id}`, method="post")
    input(name="title" type="text" placeholder="Title" value= post.title)
    input(name="author" type="text" placeholder="Author" value= post.author)
    select(name="topic")
      option(value="HTML") HTML
      option(value="CSS") CSS
      option(value="JS" selected) JS
    textarea(name="body")= post.body
    button(type="submit") Submit