doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/public/dist/style.css")
    link(rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.1.1/turbolinks.js")
    script(defer src="/public/dist/tl.js")
    title Blog
  body
    nav.Nav
      p(class="toggleNav") •••
      ul
        li
          a(href="/") Home
        li
          a(href="/posts/add") Add Post
        li
          a(href="/topics") Topics
        li
          a(href="/about") About
    block content
    footer
      p Conrad Knapp &copy; #{new Date().getFullYear()}
  scripts
    script(  src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
    script(src="/public/dist/home.js")
    block scripts