extends layout

block content
  h1.Title__Underline Topics
  .image-container
    img(class="icon" src="/dist/html5.svg")
    img(class="icon" src="/dist/css3.svg")
    img(class="icon" src="/dist/js.svg")